<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="stylesheets/login.css">
    </head>
    <body>
        <div class="container">
            <div class="login-box">
                <form method="post" class="form">
                    Name: <input type="text" name="txt1" required style="border-radius: 5px; border: none;">
                    Password: <input type="password" name="txt2" required style="border-radius: 5px; border: none;">
                    <input type="submit" style="border-radius: 2px; border: none; font-size: 17px; display: flex; background: none; cursor: pointer; margin-left: 180px; margin-top: 20px;">
                </form>
            </div>
        </div>
    </body>
</html>